* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	background: #fffffe;
	scroll-behavior: smooth !important;
}

html,
body,
#root {
	height: 100%;
}
