.container {
	display: flex;
	flex-direction: column;
	background: #fffffe;
}

.week_view {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
	background: inherit;
}

.days {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	background: inherit;
}

.day {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	width: 70px;
	height: 70px;
	font: 20px "Montserrat", sans-serif;
	font-weight: 600;
	padding: 10px;
	border: 3px solid #2b2c34;
	border-radius: 5px;
	background: inherit;
}

.lesson {
	border: 3px solid #2cb67d;
	color: #2cb67d;
}

.unreachable {
	border: 3px solid #2b2c34;
	color: #2b2c34;
	background: #cccccc;
}

.selected {
	border: 3px solid #6246ea;
	color: #6246ea;
}

.day_of_week {
	display: flex;
	margin: 0 auto;
	background: inherit;
	&::selection {
		background: none;
	}
}

.date {
	display: flex;
	margin: 0 auto;
	background: inherit;
	&::selection {
		background: none;
	}
}

.arrow_left {
	cursor: pointer;
	display: flex;
	align-self: center;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #2b2c34;
	background: inherit;
}

.arrow_right {
	cursor: pointer;
	display: flex;
	align-self: center;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #2b2c34;
	background: inherit;
}

.content_container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	background: inherit;

	@media screen and (max-width: 768px) {
		width: 100%;
	}
}

.big_date {
	display: flex;
	font: 24px "Montserrat", sans-serif;
	font-weight: 700;
	text-decoration: underline;
}

.content {
	display: flex;
	flex-direction: column;
	// border: 3px solid #2b2c34;
	box-shadow: 0 0 3px #000;
	border-radius: 5px;
	padding: 20px;
	width: 80%;
	margin: 0 auto;

	@media screen and (max-width: 768px) {
		width: 90%;
	}
}

.text {
	display: flex;
	font: 22px "Montserrat", sans-serif;
	font-weight: 700;
	text-decoration: underline;
	width: 90%;
	margin: 0 auto;
}

.button {
	width: 280px;
	margin: 0 auto;

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.textarea {
	width: 80%;
	margin: 0 auto;

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.element {
	display: flex;
	flex-direction: row;
	width: 80%;
	margin: 0 auto;
	gap: 20px;
	justify-content: space-between;
	align-items: center;
}

.note_text {
	display: flex;
	font: 18px "Montserrat", sans-serif;
	font-weight: 600;
}

.decline {
	cursor: pointer;
	width: 16px;
	height: 16px;
}

.upload {
	display: flex;
	margin: 0 auto;
}

.filename {
	cursor: pointer;
	font: 18px "Montserrat", sans-serif;
	font-weight: 600;
	color: #2b2c34;
	text-decoration: underline;
}
