.select {
	display: flex;
	width: 100%;
	min-width: 200px;
	text-align: left;
	border: 3px solid #2b2c34;
	border-radius: 5px;
	padding: 10px;
	font: 16px "Montserrat", sans-serif;
	font-weight: 600;
	&:required:invalid {
		color: #a7a9be;
	}
}

.option {
	color: #2b2c34;
}
