.container {
	display: flex;
	flex-direction: column;
	background: #fffffe;
	height: 100%;
}

.loader {
	position: absolute;
	top: 40%;
	left: 50%;
	background: inherit;
}

.button {
	display: flex;
	width: 200px;
	background: inherit;
}

.course {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100%;
	margin: 0 auto;
	background: inherit;

	@media screen and (max-width: 1440px) {
		width: 80%;
	}

	@media screen and (max-width: 1124px) {
		width: 90%;
	}

	@media screen and (max-width: 768px) {
		width: 95%;
	}
}

.not_found {
	display: flex;
	margin: auto;
	font: 24px "Montserrat", sans-serif;
	font-weight: 600;
	&::selection {
		background: none;
	}
}
