.container {
	display: flex;
	flex-direction: column;
}

.button {
	display: flex;
	width: 200px;
	background: inherit;
}

.section {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.search_bar {
	display: flex;
	margin: 0 auto;
	margin-top: 40px;
	padding: 10px;
	width: 60%;
	border-radius: 5px;
	background-color: #2b2c34;

	@media screen and (max-width: 1280px) {
		width: 80%;
	}

	@media screen and (max-width: 700px) {
		margin-top: 0;
		width: 100vw;
		border-radius: 0;
	}
}

.input {
	display: flex;
	margin: 0 auto;
	width: 70%;
	background-color: #2b2c34;

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.create_course {
	display: flex;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.board {
	display: flex;
	margin: 0 auto;
}
