.container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 3px #000;
	max-width: 400px;
	color: #2b2c34;
	gap: 20px;
	background: #fffffe;
	@media screen and (max-width: 480px) {
		max-width: 310px;
	}
}

.top {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	gap: 10px;
	background: inherit;
}

.bottom {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.icon_wrapper {
	border-radius: 10px;
	border: 3px solid #2b2c34;
	width: 80px;
	height: 80px;
}

.icon {
	padding: 5px;
	width: 74px;
	height: 74px;
	border-radius: 10px;
	&::selection {
		background: none;
	}
}

.text {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	gap: 10px;
	background: inherit;
	width: 100%;
}

.title {
	display: flex;
	margin: 0 auto;
	font: 16px "Montserrat", sans-serif;
	font-weight: 700;
	background: inherit;
	&::selection {
		background: none;
	}
}

.supervisor {
	display: flex;
	margin: 0 auto;
	font: 16px "Montserrat", sans-serif;
	font-weight: 600;
	background: inherit;
	&::selection {
		background: none;
	}
}

.open {
	display: flex;
	font: 16px "Montserrat", sans-serif;
	font-weight: 600;
	color: #6246ea;
	background: inherit;
	&::selection {
		background: none;
	}
}

.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: inherit;
	gap: 5px;
}

.tag {
	display: flex;
	align-items: center;
	border-radius: 20px;
	height: 35px;
	padding: 10px;
	color: #fffffe;
	font: 16px "Montserrat", sans-serif;
	font-weight: 600;
	&::selection {
		background: none;
	}
}
