.container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.placeholder {
	display: flex;
	margin: 10px;
	font: 18px "Montserrat", sans-serif;
	font-weight: 600;
}

.day_of_week_validation {
	width: 100%;
	height: 1px;
}

.days {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
}

.day {
	cursor: pointer;
	padding: 15px;
	border-radius: 5px;
	background: #fffffe;
	color: #6246ea;
	border: 2px solid #6246ea;
	font: 16px "Montserrat", sans-serif;
	font-weight: 600;
	&:hover {
		box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
	}
	&::selection {
		background: none;
	}
}

.active {
	background: #6246ea;
	color: #fffffe;
}
