.textarea {
	display: flex;
	width: 100%;
	min-width: 200px;
	height: 80px;
	padding: 10px;
	border-radius: 5px;
	border: 3px solid #2b2c34;
	font: 16px "Montserrat", sans-serif;
	font-weight: 600;
	color: #2b2c34;
	background: #fffffe;
	resize: none;
	&::placeholder {
		color: #a7a9be;
	}
}
