.container {
	display: flex;
	flex-direction: column;
}

.block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	min-height: 32px;
}

.label {
	font: 24px "Montserrat", sans-serif;
	font-weight: 700;
}

.text {
	font: 24px "Montserrat", sans-serif;
	font-weight: 600;
}

.users {
	display: flex;
	flex-direction: column;
	list-style-type: decimal;
	gap: 10px;
	font: 18px "Montserrat", sans-serif;
	font-weight: 600;
}

.edit {
	cursor: pointer;
	width: 28px;
	height: 28px;
}

.icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
	@media screen and (max-width: 360px) {
		width: 100%;
		justify-content: space-evenly;
	}
}

.accept {
	cursor: pointer;
	width: 32px;
	height: 32px;
}

.decline {
	cursor: pointer;
	width: 24px;
	height: 24px;
}

.applicant {
	display: list-item;
}

.list {
	list-style-type: decimal;
	margin-left: 20px;
}

.button {
	display: flex;
	margin: 0 auto;
	width: 300px;
}
