.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #2b2c34;
	background: #fffffe;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	background: inherit;
}

.icon {
	display: flex;
	width: 80px;
	height: 80px;
	padding: 5px;
	border: 3px solid #2b2c34;
	border-radius: 10px;
	background: #6246ea;
}

.title {
	cursor: pointer;
	margin: 0 auto;
	text-align: center;
	font: 24px "Montserrat", sans-serif;
	font-weight: 700;
	padding: 10px;
	border-bottom: 4px solid;
	&::selection {
		background: none;
	}
}

.options {
	display: flex;
	justify-content: center;
	align-self: center;
	flex-direction: row;
	@media screen and (max-width: 1000px) {
		width: 100%;
		margin: auto;
	}
}

.option {
	display: flex;
	border-left: 4px solid #2b2c34;
	border-right: 4px solid #2b2c34;
	margin-left: -4px;
}

.image {
	cursor: pointer;
	display: flex;
	padding: 10px;
	width: 80px;
	height: 80px;
	border-bottom: 4px solid #fffffe;
}

.bar {
	height: 80px;
	width: 4px;
	background: #2b2c34;
}

.selected {
	border-bottom: 4px solid #6246ea;
}
