.container {
	display: flex;
	flex-direction: column;
	background: #fffffe;
}

.title {
	display: flex;
	font: 24px "Montserrat", sans-serif;
	font-weight: 700;
	margin: 0 auto;
	&::selection {
		background: none;
	}
}

.buttons {
	width: 320px;
	margin: 0 auto;
	&::selection {
		background: none;
	}
	@media screen and (max-width: 480px) {
		width: 280px;
	}
}
