.container {
	display: flex;
	flex-direction: column;
}

.title {
	margin: 0 20px;
	font: 24px "Montserrat", sans-serif;
	font-weight: 700;
	&::selection {
		background: none;
	}
}

.board {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;

	@media screen and (max-width: 1560px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 1224px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 800px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.line {
	height: 1px;
	border-radius: 25px;
	background: #a7a9be;
}
