.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: #fffffe;
}

.button {
	display: flex;
	width: 280px;
	background: inherit;
}

.title {
	display: flex;
	font: 24px "Montserrat", sans-serif;
	font-weight: 700;
	color: #2b2c34;
	&::selection {
		background: none;
	}
	background: inherit;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.4);
	overflow: auto;
}

.modal_content {
	background: #fffffe;
	position: absolute;
	top: 10%;
	left: 30%;
	width: 40%;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 3px #000;

	@media screen and (max-width: 1440px) {
		top: 15%;
		left: 25%;
		width: 50%;
	}

	@media screen and (max-width: 1024px) {
		top: 15%;
		left: 15%;
		width: 70%;
	}
	@media screen and (max-width: 580px) {
		top: 20%;
		left: 0;
		width: 100%;
	}
}

.modal_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: inherit;
}

.modal_title {
	display: flex;
	margin: 10px;
	font: 24px "Montserrat", sans-serif;
	font-weight: 700;
	color: #2b2c34;
	background: inherit;
	&::selection {
		background: none;
	}
}

.close {
	cursor: pointer;
	display: flex;
	height: 24px;
	width: 24px;
	margin: 10px;
	background: inherit;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: 0 auto;
	background: inherit;
}

.input {
	display: flex;
	width: 320px;
	background: inherit;

	@media screen and (max-width: 768px) {
		width: 280px;
	}
}

.button {
	display: flex;
	width: 320px;
	background: inherit;

	@media screen and (max-width: 768px) {
		width: 280px;
	}
}

.date {
	display: flex;
	width: 320px;

	@media screen and (max-width: 768px) {
		width: 260px;
	}
}

.textarea {
	display: flex;
	width: 100%;
	background: inherit;
}
