.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tag_validation {
	width: 100%;
	height: 1px;
}

.title {
	display: flex;
	width: 100%;
	margin: 10px;
	font: 18px "Montserrat", sans-serif;
	font-weight: 600;
}

.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5px;
}

.tag {
	cursor: pointer;
	display: flex;
	border-radius: 20px;
	padding: 10px;
	font: 16px "Montserrat", sans-serif;
	font-weight: 600;
	&:hover {
		box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 0.2);
	}
	&::selection {
		background: none;
	}
}

.active {
	color: #fffffe;
	border: 2px solid;
	text-align: center;
}
